@import 'tailwindcss';

@theme {
	--color-bg-white-blur: rgba(255, 255, 255, 0.6);
	--color-bg-hero: #f3f1ef;
	--color-bg-btn-blue: #5b78f9;
	--color-bg-btn-purple: #764ba2;
	--color-bg-sectionLabel: #f3f1ef;
	--color-text-sectionLabel: rgba(255, 255, 255, 0.8);
	--breakpoint-3xl: 1800px;
}

:root {
	--background: #ffffff;
	--foreground: #000000;
}

body {
	background: var(--background);
	color: var(--foreground);
}

button {
	cursor: pointer;
}

.active {
	position: relative;
}

.active::after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 2px;
	width: 100%;
	background-image: linear-gradient(90deg, #5b78f9, #764ba2);
}

.link {
	position: relative;
}

.link::before {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 2px;
	width: 0%;
	background-image: linear-gradient(90deg, #5b78f9, #764ba2);
	transition: width 0.4s ease;
}

.link:hover::before {
	width: 100%;
}

.underlineText {
	position: relative;
}

.underlineText::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(90deg, #5b78f9, #764ba2);
}

select:invalid {
	color: hsla(0, 0%, 0%, 0.5);
}

select:valid {
	color: hsla(0, 0%, 0%, 0.6);
}

input[type='checkbox'] {
	accent-color: var(--color-bg-btn-purple); /* kolor zaznaczenia */
}

@media (min-width: 1800px) {
	.largeScreen {
		width: 25%;
	}
}
