@import 'tailwindcss';

@theme {
	--color-bg-white-blur: rgba(255, 255, 255, 0.5);
	--color-bg-btn-blue: #5b78f9;
	--color-bg-btn-purple: #764ba2;
	--color-subtitle: rgba(0, 0, 0, 0.6);
}

:root {
	--background: #f3f1ef;
	--foreground: #000000;
}

body {
	background: var(--background);
	color: var(--foreground);
}

button {
	cursor: pointer;
}

.active {
	color: rgb(0, 0, 0, 1);
}

.animate-carousel-left {
	animation: carousel-left 95s linear infinite;
}

.animate-carousel-right {
	animation: carousel-right 95s linear infinite;
}

@keyframes carousel-left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes carousel-right {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}
